.table{
    display: table;
    width: 100%;

    .table-head{
        display: table-row;
        background-color: rgb(255, 102, 0);
        padding: 1px;
        &>div{
            display: table-cell;
            color: #fff;
            font-size: 10pt;
            font-weight: 600;
            width: 20px;
            text-align: center;
            vertical-align: bottom;
            padding-right: 15px;

            &.details-head{
                text-align: left;
                width: 80%;
            }
        }
    }

    .table-row{
        display: table-row;
        width: auto;
        clear: both;
        &>div{
            display: table-cell;
            text-align: center;
            font-size: 10pt;
            font-weight: 600;
            padding: 4px;
            padding-right: 15px;

            &.details{
                text-align: left;
                padding-left: 0;
                font-size: 11pt;

                .link{
                    color: rgb(129,131,131);
                    font-size: 8pt;
                    text-decoration: none;
                    &::before{
                        content: " (";
                        color: rgb(200,202,202);
                        font-size: 10pt;
                    }
                    &::after{
                        content: ") ";
                        color: rgb(200,202,202);
                        font-size: 10pt;
                    }
                }

                .by{
                    color: rgb(200,202,202);
                    font-size: 9pt;
                }

                .author{
                    text-decoration: none;
                    font-size: 9pt;
                    padding: 0 5px;
                }

                .time{
                    color: rgb(129,131,131);
                    font-size: 9pt;
                }

                .hide-btn{
                    font-size: 9pt;
                    text-decoration: none;
                    &::before{
                        content: " [ ";
                        color: rgb(129,131,131);
                        font-size: 10pt;
                    }
                    &::after{
                        content: " ] ";
                        color: rgb(129,131,131);
                        font-size: 10pt;
                    }
                }
            }

            &.level-2{
                color: rgb(85,32,0);
            }
            &.level-3{
                color: rgb(173,80,45);
            }
            &.level-4{
                color: rgb(254,103,2);
            }
        }
        &:nth-child(odd){
            background-color: rgb(229,229,223);
        }
        &:nth-child(even){
            background-color: rgb(246,246,239);
        }

        .upvote-btn{
            display: flex;
            justify-content: center;
            padding: 5px;
            
            .arrow-up {
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid rgb(155,152,153);
            }
        }
    }
}