$primary-color: rgb(255, 102, 0);

.table{
    display: table;
    width: 100%;

    .table-head{
        display: table-row;
        background-color: $primary-color;
        padding: 1px;
        &>div{
            display: table-cell;
            color: #fff;
            font-size: 10pt;
            font-weight: 600;
            width: 20px;
            text-align: center;
            vertical-align: bottom;
            padding-right: 15px;

            &.details-head{
                text-align: left;
                width: 80%;
            }
        }
    }

    .table-row{
        display: table-row;
        width: auto;
        clear: both;
        &>div{
            display: table-cell;
            text-align: center;
            font-size: 10pt;
            font-weight: 600;
            padding: 4px;
            padding-right: 15px;

            &.details{
                text-align: left;
                padding-left: 0;

                a{
                    text-decoration: none;
                    color: #000;
                }

                a:hover{
                    text-decoration: underline;
                }

                .title{
                    font-size: 11pt;
                }

                .link{
                    color: #585858;
                    font-size: 8pt;
                    &::before{
                        content: " (";
                        color: rgb(200,202,202);
                        font-size: 10pt;
                    }
                    &::after{
                        content: ") ";
                        color: rgb(200,202,202);
                        font-size: 10pt;
                    }
                }

                .by{
                    color: #626363;
                    font-size: 9pt;
                }

                .author{
                    font-size: 9pt;
                    padding: 0 5px;
                }

                .time{
                    color: #575858;
                    font-size: 9pt;
                }

                .hide-btn{
                    font-size: 9pt;
                    white-space: nowrap;
                    &::before{
                        content: " [ ";
                        color: rgb(129,131,131);
                        font-size: 10pt;
                    }
                    &::after{
                        content: " ] ";
                        color: rgb(129,131,131);
                        font-size: 10pt;
                    }
                }
            }

            &.level-2{
                color: rgb(85,32,0);
            }
            &.level-3{
                color: rgb(173,80,45);
            }
            &.level-4{
                color: rgb(254,103,2);
            }
        }
        &:nth-child(odd){
            background-color: rgb(229,229,223);
        }
        &:nth-child(even){
            background-color: rgb(246,246,239);
        }

        .mobile-btns{
            display: none;
        }

        .upvote-btn{
            display: flex;
            justify-content: center;
            padding: 5px;
            
            .arrow-up {
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid rgb(155,152,153);
            }
        }
    }

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;

        .hidden-xs{
            display: none;
        }

        .table-row{
            display: flex;
            flex-direction: column-reverse;

            &>div{
                display: none;
            }

            &>div.details{
                display: block;
                padding: 5px;
                .link{
                    display: block;
                }
            }

            .mobile-btns{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 0;
                margin-top: 5px;

                >div{
                    flex: 1;
                    a{
                        padding: 10px;
                        color: #000;
                        text-decoration: none;

                        &:active{
                            opacity: 0.2;
                        }
                    }
                    img{
                        height: 15px;
                        position: relative;
                        top: 3px;
                        margin-right: 5px;
                    }
                }

                .upvote-btn{
                    img{
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}

.pagination{
    border-bottom: 3px solid $primary-color;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(246,246,239);
    
    a{
        text-decoration: none;
        padding: 10px;
        &:hover:not(.disabled){
            text-decoration: underline;
        }
        &.disabled{
            color: #ffc59e;
            cursor: default;
        }
    }
    *{
        color: #8e3b04;
        font-weight: bold;
        font-size: 10pt;
        padding: 10px 0;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}